<nav class="navbar navbar-light bg-light mb-4">
  <div class="navbar-header">
    <a href="#" class="navbar-brand ml-4">Recipe Book</a>
  </div>

  <ul class="nav navbar-expand mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a
        class="nav-link text-black-50"
        [routerLink]="['/recipes']"
        routerLinkActive="active"
        >Recipes</a
      >
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link text-black-50" [routerLink]="['/shopping-list']"
        >Shopping</a
      >
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right" appDropdown>
    <li class="dropdown">
      <a
        role="button"
        class="dropdown-toggle text-black-50"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Manage
      </a>
      <ul class="dropdown-menu bg-light">
        <li><a class="dropdown-item">Save Data</a></li>
        <li><a class="dropdown-item">Fetch Data</a></li>
      </ul>
    </li>
  </ul>
</nav>
