<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
      <div class="float-left">
        <h4 class="list-group-item-heading text-black-50">{{ recipe.name }}</h4>
        <p class="list-group-item-text text-dark">{{ recipe.description }}</p>
      </div>
      <span class="float-right ml-4 mt-2">
        <img
          class="img-fluid align-middle"
          [src]="recipe.imagePath"
          [alt]="recipe.name"
          style="max-height: 50px;"
        />
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
