<div class="row" style="height: 100vh; background-color: aliceblue;">
  <div class="container mx-auto mt-5">
    <app-cockpit
      (serverCreated)="onServerAdded($event)"
      (blueprintCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <app-server-element
          *ngFor="let serverElement of serverElements"
          [srvElement]="serverElement"
        >
          <p>
            <strong *ngIf="serverElement.type === 'server'" style="color: red;">
              {{ serverElement.content }}</strong
            >
            <em *ngIf="serverElement.type === 'blueprint'">{{
              serverElement.content
            }}</em>
          </p></app-server-element
        >
      </div>
    </div>
  </div>
</div>
